@model PS1_U3_Eventos.Models.City

@{
    ViewBag.Title = "Eliminar Ciudad";
}

<div style="background-image:url(../../Content/IMG/urban-438393_1280.jpg); background-size: cover; min-height:100%; min-width: 100%; position:absolute; overflow:hidden;">
        <div class="m-5 col-12 text-white" style="text-shadow: 0 2px 3px rgba(0,0,0,.8)">
            <h2>CIUDADES</h2>
            <h4 class="text-danger">¡¿Eliminar datos del Sistema?!</h4>
        </div>
        <div class="m-5 card col-md-4">
            <div class="card-title"></div>
            <dl class="dl-horizontal">
                <dt>
                    Ciudad
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CityName)
                </dd>

                <dt>
                    Descripción
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CityDescription)
                </dd>

                <dt>
                    Población
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Population)
                </dd>

                <dt>
                    Lada
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lada)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-danger"/>
                    <a href="@Url.Action("Index", "Cities")" class="btn btn-secondary">Regresar</a>
                </div>
            }
        </div>
</div>
