@model PS1_U3_Eventos.Models.City

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div style="background-image:url(../../Content/IMG/urban-438393_1280.jpg); background-size: cover; min-height:100%; min-width: 100%; position:absolute; overflow:hidden;">
    <div class="m-5 col-12 text-white" style="text-shadow: 0 2px 3px rgba(0,0,0,.8)">
        <h2>CIUDADES</h2>
        <h4>Editar ciudad</h4>
    </div>
    <div class="m-5 card col-md-4">
        <div class="card-title"></div>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.CityName, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CityDescription, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.CityDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CityDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Population, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Population, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Population, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Lada, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Lada, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Lada, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                    <a href="@Url.Action("Index","Cities")" class="btn btn-secondary">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
